# requirements.txt
streamlit
snowflake-sqlalchemy
streamlit-aggrid
st-annotated-text
graphviz
streamlit_wordcloud
yake
snowflake-connector-python
snowflake-snowpark-python
extra_streamlit_components
cffi==1.5.2
